
.LeftColumnPanel {
  
  width: 200px;
  height: 100%;
  background-color: rgb(229, 234, 241);
  padding-top: 20px;
  padding-left: 40px;
  font-size: 1.2em;
  font-weight: 300;
}

.sidebar-content
{
  color: #32325d ;
  text-decoration: none;
  
  padding-top: 6px;
  display: flex;
}
.sidebar-content i {
  
  font-size: 30px;
   padding-top: 5px;
   padding-right: 5px;
}

.sidebar-tab {
  font-size: 25px;
  padding-bottom: -10px;
}
.sidebar-content:hover, .sidebar-content:visited, .sidebar-content:active 
{
  text-decoration: none !important;
  font-size: 1.009em;
}