
.LeftColumnPanel {
  width: 230px;
  height: 100%;
  background-color: var(--alt-background);
  padding-top: 20px;
  padding-left: 40px;  
  font-weight: 300;
}

.tab-label
{
  font-size: 1.5em;
  padding-left: 10px;

}
.sidebar-content
{
  color: var(--alt-color-dark) !important;
  text-decoration: none !important;
  display: flex;
  padding-top: 6px;
}
.sidebar-content > i
{
  font-size: 1.5em;
  padding-top: 8px;
}

.sidebar-content:hover, .sidebar-content:visited, .sidebar-content:active 
{
  text-decoration: none !important;
  font-size: 1.009em;
}