/*HEADER*/
.convo-header {
	text-align: left;
	display: flex;
	font-size: 20px;
	margin-bottom: 15px;
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);
}
.active {
	background: var(--main-color-dark);
	color: var(--main-white);
}

.convo-header .sort {
	padding: 10px;
}

.convo-header .sort:hover {
	background: var(--hover-light);
	cursor: pointer;
}

/* MAIN GRID */
#convo-main
{
	padding-top: 15px;
	padding-left: 100px;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	min-height: 100%;
}
.edge-convo
{

	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);
	margin-right: 20px;
	margin-bottom: 25px;
	color: var(--main-dark);
	height: 200px;
	width: 215px;
}
.edge-convo .title {
	margin: 10px;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid var(--hover-light);
}

.edit-delete {
	text-align: right;
}
.edit, .delete {
	display: inline-block;
	margin: 2px 5px;
}

.convo-content {
	text-align: left;
	font-size: 20px;
	margin: 0px 15px 76px 15px;
	color: var(--main-dark-light) !important;
}


.convo-content .question{
	text-align: left;
}

.addnew-title {
	text-align: center;
	padding-top: 50px;
}


.convo-status {
  position: relative;

	background: var(--main-background);
	color: var(--hover-light);
	height: 40px;
}
.convo-status .responded {
	display: inline-block;
	float: right;
	margin: 5px 5px -5px 0px;
}

.convo-status .new-messages {
	position: absolute;
	right: 0px;
	border: 1px solid red;
	width: 15px;
	height: 15px;
	font-size: 10px;
	font-weight: bold;
	background: red;
	color: var(--main-white);
	border-radius: 50%;
	margin: 2px 2px 0px 0px;
}

