.view-wrapper {
	height: 100%;
	text-align: left;
	padding: 20px;
	color: black;
	width: 50vw;
}

.participants-edit {
	background: #dadfe8;
	font-size: 27px;
	margin: 10px 0px;
	padding: 2px 5px;
	color: rgb(65, 65, 65);

}

.part-title {
	display: inline-block;
}

.part-edit-delete {
	display: inline-block;
	display: flex;
	float: right;
	margin-right: 20px;
}
.edit-icon i {
	color: black;
	margin-right: 10px;
}

.edit-icon i:hover{
	color: gray;
}
.delete-icon i:hover{
	color: gray;

}

.participants {
	background: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
	padding: 10px;
	color: rgba(53, 53, 53, 0.911);
	display: flex;
	margin: 8px;
	font-weight: bold;
}

.participant {
	margin: 0px 10px;
}

.q-title {
	background: #dadfe8;
	font-size: 27px;
	margin: 10px 0px;
	padding: 2px 5px;
}

.question-box {
	background: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
	font-size: 22px;
	padding: 10px;
	color: rgba(53, 53, 53, 0.911);
}

.schedule-title {
	background: #dadfe8;
	font-size: 27px;
	margin: 10px 0px;
	padding: 2px 5px;
}
.schedule-time {
	background: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
	padding: 10px;
	color: rgba(53, 53, 53, 0.911);
	font-size: 22px;
}
.res-title{
	background: #dadfe8;
	font-size: 27px;
	margin: 10px 0px;
	padding: 2px 5px;
}

.response-boxes {
}


.response {
	background: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
	padding: 10px;
	margin-bottom: 25px;
	color: rgba(53, 53, 53, 0.911);
}
.res-profile {
	display: flex;
	padding-bottom: 10px;
}
.res-avatar {
	border: 1px solid gray;
	margin-right: 10px;
}
.res-username {
	font-weight: bold;
}
.res-content {
	border-top: 1px solid #dedede;
}
.q-a {
	border-bottom: 1px solid #dedede;
	padding: 10px 5px;
}
.res-question {
	font-size: 19px;
	color: black;
}
.res-answer {
	font-size: 22px;
}
#view-main
{
	background-color: rgb(229, 234, 241);
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 0px !important;
}
.dark-link
{
	color: rgb(65, 65, 65) !important;
}
.sub-header
{
	color:rgba(58, 58, 58, 0.815);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0px;
}

.content-container
{
	padding-left: 10px;
}
