.view-wrapper {
	height: 100%;
	text-align: left;
	color: white;
	padding: 20px;
	color: black;
}

.viewconvo {

}

.participants {
	display: flex;
}

.participant {
	border: 1px solid gray;
	width: 50px;
	height: 50px;
	margin: 5px;
}

.question-box {
	border: 1px solid gray;
	font-size: 17px;
	padding: 10px;
}

.response {
	border: 1px solid gray;
	padding: 10px;
}