#main-preferences
{
    background-color: rgb(229, 234, 241);
    width: 665px;
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 0px !important;
}
#card-pref
{

    padding-left: 25px;
}
.radio-label
{    
    font-size: 1.08em;
}
.radio-label
{
    padding-left: 10px;
    color:rgba(58, 58, 58, 0.815);
    font-size: 1.2em;
}

.detail-header
{
    color:rgba(58, 58, 58, 0.815);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    padding: 0px;
}