.logo-layout {
    flex-basis: 0%;
}

.headContain {
    background-color: #24292e;
    align-items: flex-start
}

.slack-logo-wrapper {
    float: left;
    height: 25px;
    padding: 2px;
}

.slacklogo {
    background-image: url('../logo/slack-1.svg');
}

.heyTeam {
    font-family: Courier Header;
    font-size: 55px;
    font-color: white;
}

.signOut {
    text-align-last: right;
    height: 35%;
}