#main-login
{
    text-align: center;    
    padding-top: 210px;
    padding-left: 15%;

    padding-bottom: 15%;
    background-image: radial-gradient(center center, circle cover, rgb(29, 117, 199), rgb(48, 72, 87)); 
}

#signin-form > input
{
    overflow: hidden;
    margin-left: 10px;
    
    border-top: none;
    border-left: none;
    border-right: none;
}

#create-account
{
    margin-top: 8px;
    margin-left: -40px;
}

@media screen and (min-width: 1630px){
    #main-login {
        padding-left: 37% !important;
        padding-right: 37% !important;
    }
}

@media screen and (max-width: 1630px) and (min-width: 1000px) {
    #main-login {
        padding-left: 34%;
        padding-right: 34%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px){
    #main-login {
        padding-left: 28%;
        padding-right: 28%;
    }
}

/* Login Mobile Styling */
@media screen and (max-width: 650px){
    #main-login
    {
        padding: 0px;        
    } 
    .card-dull
    {
        box-shadow: none;
        border: none;
    }
    .card
    {
        border: none !important;
    }
    html
    {
        background-color: var(--main-white);
    }
    .light-blue-btn
    {
        width: 200px;
    }
    
    #create-account
    {
        margin-top: 20px;
        margin-left: 0px !important;
    }
}
