
.main-login
{   
        background-image:
          linear-gradient(
            45deg, 
            rgb(30, 101, 155), 
            rgb(52, 53, 54));
      
    text-align: center;    
    padding-top: 210px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30%;
}
.app
{
    background-color: white !important;
}
.card-dull
{
    box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
    padding: 30px;  
    height: 450px;
}

.blue-link
{
    color: rgb(17, 151, 212) !important;
}

.light-blue-btn
{
    background: #3786e0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
    color: #fff;
    height: 40px;
    width: 80px;
}
.light-blue-btn:hover
{
    background: #549ff5 none repeat scroll 0 0;
}

.logo
{
    color:rgba(58, 58, 58, 0.815);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: 0px;
}
.heading
{   
    font-weight: 520;
    font-size: 1.2em;
    padding: 0px;
}

.form-error {
    text-align: left;
    height: 25px;
    color: red;
}

@media screen and (min-width: 1630px){
    .main-login {
        padding-left: 37% !important;
        padding-right: 37% !important;
    }
}

@media screen and (max-width: 1630px) and (min-width: 1000px) {
    .main-login {
        padding-left: 34%;
        padding-right: 34%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px){
    .main-login {
        padding-left: 28%;
        padding-right: 28%;
    }
}

/* Mobile */
@media screen and (max-width: 650px){
    .main-login
    {
        padding: 0px;        
    } 
    .card-dull
    {
        box-shadow: none;
        border: none;
    }
    .card
    {
        border: none !important;
    }
    html
    {
        background-color: white;
    }
}
