#main-addconvo
{
	background-color: rgb(229, 234, 241);
    width: 665px;
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 0px !important;
}

.edge-card
{
	box-shadow: 0 2px 2px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);  
    padding: 30px;  
    height: auto;
    align-content: center;
}

.day-selected {
	background: gray;
}

.day {
	display: inline-block;
}

.day {
	margin: 5px;
}

.select-time {
	display: inline-block;
	margin: 2px;
}
.select-ampm {
	display: inline-block;
	margin: 2px;
}
.select-zone {
	display: inline-block;
	margin: 2px;
}
.question {
	font-size: 20px;
	margin: 5px 0px;
}
.question-text{
	padding: 2px 10px;
	position: relative;
	background: #c7cfdb;
}
.question-text:hover{
	background: #a4adbc;
}
i.remove-question {
	color: red;
	font-size: 18px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.display-users {
	display: flex;
	flex-wrap: wrap;
}
.display-user{
	margin: 10px 5px;
	padding: 5px;
	background: #c7cfdb;
	font-weight: bold;
	position: relative;
}
.display-user:hover{
	background: #a4adbc;
}
.display-name{
	position: relative;
}
i.remove-user {
	color: red;
	font-size: 18px;
	position: absolute;
	top: -12px;
	right: -12px;
}
i.add-user {
	color: green;
	font-size: 18px;
	position: absolute;
	top: -12px;
	right: -12px;
}

i.shownone {
	display: none;
}