#main-addconvo
{
	background-color: var(--alt-background);
    width: 1000px;
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 0px !important;
}

.day-selected {
	background: var(--hover-light);
}

.day {
	display: inline-block;
}

.day {
	margin: 5px;
}

.select-time {
	display: inline-block;
	margin: 2px;
}
.select-ampm {
	display: inline-block;
	margin: 2px;
}
.select-zone {
	display: inline-block;
	margin: 2px;
}
.question {
	font-size: 20px;
	margin: 5px 0px;
}
.question-text{
	padding: 2px 10px;
	position: relative;
	background: var(--main-background);
}
.question-text:hover{
	background: var(--hover-light);
}
i.remove-question {
	color: red;
	font-size: 18px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.display-users {
	display: flex;
	flex-wrap: wrap;
}
.display-user{
	margin: 10px 5px;
	padding: 5px;
	background: var(--hover-light);
	font-weight: bold;
	position: relative;
}
.display-user:hover{
	background: var(--main-background);
}
.display-name{
	position: relative;
}
i.remove-user {
	color: red;
	font-size: 18px;
	position: absolute;
	top: -12px;
	right: -12px;
}
i.add-user {
	color: var(--main-color-light);
	font-size: 18px;
	position: absolute;
	top: -12px;
	right: -12px;
}

i.shownone {
	display: none;
}