
html
{
    background-color: rgb(229, 234, 241);
    overflow: auto;
}

.landing-main
{
    padding-top: 50px;
    overflow-x: hidden ;
    background-color: rgb(229, 234, 241);
}

.section-body
{
    margin-top: 43%;
    margin-left: 18%;
    margin-right: 18%;
    font-size: 1.4em;  
}  

  /* Middle Body Container */
#banner
{
    height: 400px;
    overflow: hidden;
    z-index: 1;
}
#nav-header
{
    z-index: 2;
    position: relative;
}

.banner-section {
    height: 80% !important;
    width: 100%;
    padding-top: 200px;

    padding-bottom: 200px;
    height: 700px;
    color: #fff;
    background-image: linear-gradient(rgb(57, 75, 89), rgb(33, 77, 110));

    text-align: center;
    z-index: 1;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    transform: skewY(-6deg);
    transform-origin: top left;
}

.nav-link-group
{
    text-decoration: none;
    list-style: none;

    color: white;
    padding: 0px;
    margin-right: -32%;
    float:right;

}
header{
    position: relative;
}

#description-section
{
    margin-top: 7%;
    transform: skewY(6deg) !important;
    margin-left: 26%;
}

.nav-link-group:link
{
    color: white;
}

.Logo-1
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding: 0px;

    float: left;
}

#buy-now
{
    margin-top: 30px;
    color: white;
}

.header-text
{
    font-size: 1.7em;
    font-weight: 500;
    padding: 0px;
}

.desc-text
{
    font-size: 1.3em;
    font-weight: 300;
}
.btn-blue
{
    cursor: pointer;
    background: #368bec none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #07439e;
    color: #fff;

    height: 40px;
    width: 52% !important;
}
.btn-blue:hover
{
    height: 43px;
    width: 54% !important;
    widows: auto;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white !important;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}