
html
{
    background-color: rgb(229, 234, 241);
    overflow: auto;
}

.landing-main
{
    padding-top: 50px;
    overflow-x: hidden ;
    background-color: rgb(229, 234, 241);
}

.Carousel {
    height: 300px;
    width: 400px;
    z-index: 99;
    margin: auto;
    margin-top: -5% !important;
}
.section-body
{
    margin-top: 5px;
    margin-left: 18%;
    margin-right: 18%;
    font-size: 1.4em;  
}  

  /* Middle Body Container */
.banner-section {
    height: 80% !important;
    margin-top: -220px;
    padding-top: 200px;

    padding-bottom: 200px;
    height: 700px;
    color: #fff;
    background-image: linear-gradient(rgb(57, 75, 89), rgb(33, 77, 110));

    text-align: center;
    z-index: 1;
}
svg {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
  }
.nav-link-group
{
    text-decoration: none;
    list-style: none;

    color: white;
    padding: 0px;
    margin-right: -32%;
    float:right;

}

#description-section
{
    margin-top: 7%;
    margin-left: 26%;
}

.nav-link-group:link
{
    color: white;
}

.Logo-1
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding: 0px;

    float: left;
}

#buy-now
{
    margin-top: 30px;
    color: white;
}

.header-text
{
    font-size: 1.7em;
    font-weight: 500;
    padding: 0px;
}

.desc-text
{
    font-size: 1.3em;
    font-weight: 300;
}
.btn-blue
{
    background: #368bec none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #07439e;
    color: #fff;
    height: 40px;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}